
/* @Usage:        Project styles
* @Description:  Project specific styling 
// ---------------------------------------------------------------------- */

@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700");
@import url("http://fonts.googleapis.com/css?family=Inconsolata:400,700");

/* :: GENERAL LAYOUT
// -------------------------*/

    header, section, article {
        width: 50%;
        margin: 0 auto;
    }

/* :: FONTS AND TEXT
// -------------------------*/
body {
font-family: "Droid Sans", sans-serif;
text-align: center;
}
   h1 { 
        font-family: "nimbus-sans-condensed", sans-serif;
        font-size: 6em;
        font-weight: 900;
        letter-spacing: .152em;
        margin-bottom: 20px;
    }
    h2 { 
        font-family: "Inconsolata", sans-serif;
        font-size: 3em;
        font-weight: 400;
    }
    h3, h4 { 
        font-family: "nimbus-sans-condensed", sans-serif;
        font-size: 2.4em;
        font-weight: 900;
    }

    section {
        text-align: justify;
    }
