
/* @Usage:        Project styles
* @Description:  Project specific styling 
// ---------------------------------------------------------------------- */

@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700");
@import url("http://fonts.googleapis.com/css?family=Inconsolata:400,700");

@yellow: #ffe402;

/* :: GENERAL LAYOUT
// -------------------------*/

    section, article, nav {
        width: 1000px;
        margin: 0 auto;
    }

/* :: FONTS AND TEXT
// -------------------------*/
body {
font-family: "Droid Sans", sans-serif;
text-align: center;
}
   article header h1 { 
        font-family: "nimbus-sans-condensed", sans-serif;
        font-size: 60px;
        font-weight: 900;
        letter-spacing: 8px;
        margin-bottom: 20px;

        span {
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 2px;
        }
    }
    h2 { 
        font-family: "Inconsolata", sans-serif;
        font-size: 3em;
        font-weight: 400;
    }
    h3, h4, .outline h2 { 
        font-family: "nimbus-sans-condensed", sans-serif;
        font-size: 2.4em;
        font-weight: 900;
    }

    section {
        font-family: "Droid Sans", sans-serif;
        text-align: justify;
        font-size: 20px;
        padding: 15px;
        line-height: 40px;
        
        h2 {
            font-family: "nimbus-sans-condensed", sans-serif;
            font-size: 30px;
            font-weight: 800;
        }        
        p {
            font-size: 20px;
        }

        li {
            line-height: 45px;
        }
    }

    article header p {
        font-family: "nimbus-sans-condensed", sans-serif;
        font-size: 30px;
        font-weight: 900;
    }

    .segment p {
        font-family: "nimbus-sans-condensed", sans-serif;
        font-size: 30px;
        font-weight: 900;

    }    

    #cross-out-1 p {
        font-size: 25px;
    }

    .timeline {
        p, h3 {
            font-family: "Droid Sans", sans-serif;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 30px;
        }
        h3 {
            font-size: 30px;
        }
    }
    nav {
        font-family: "Droid Sans", sans-serif;
        font-size: 20px;
        span {
            font-family: "nimbus-sans-condensed", sans-serif;
            font-size: 30px;
            font-weight: 900;
        }
    }

    footer {
        h2 {
            font-family: "nimbus-sans-condensed", sans-serif;
            letter-spacing: 5px;
            font-size: 60px;
            font-weight: 900;
        }
        p { 
            font-size: 15px;
        }

        h3 {
            font-family: "nimbus-sans-condensed", sans-serif;
            font-size: 20px;
        }

        li {
            font-size: 15px;
            list-style-type: none;
        }
    }

    .outline {
        p { 
            font-family: "Droid Sans", sans-serif;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 30px;
        }

        h2 {
            font-family: "nimbus-sans-condensed", sans-serif;
            font-size: 30px;
        }
    }

    /* :: MAIN HEADER
// -------------------------*/

    article header > div {
        position: relative;
        height: 250px;
        margin-bottom: 60px;
    }

        .header-img {
            position: absolute;
            top: 0;
            left: 35px;
        }   

        .numbering ,.outline .numbering {
            font-size: 15px;
            font-family: inconsolata;
            position: absolute;
            z-index: 1;
        } 

        .header-text {
            position: absolute;
            top: 110px;
            left: 161px;
        }

            h1 span {
                display: block;
                font-size: 1rem;
                margin-top: 45px;
            }


    /* :: Numering
// -------------------------*/

    .num-1-a {
        top: 96px;
        left: 40px;
    }
    .num-1-b {
        top: 206px;
        left: 580px;
    }   
    .num-2-a {
        top: 426px;
        left: 20px;
    }   
    .num-3-a {
        top: 1940px;
        left: 937px;
    }    
    .num-4-a {
        top: 2812px;
        left: -94px;

    }    
    .num-4-b {
        top: 3119px;
        left: 17px;
    }    
    .num-4-c {
        top: 2930px;
        left: 583px;
    }    
    .num-4-d {
        top: 3293px;
        left: 54px;
    }    
    
    .num-5-a {
        top: 3480px;
        left: 974px;
    }    
    .num-6-a {
        top: 3943px;
        left: -57px;
    }
    .num-6-b {
        top: 4069px;
        left: 220px;
    }    
    .num-6-c {
        top: 4119px;
        left: 388px;
    }
    .num-6-d {
        top: 4000px;
        left: 609px;
    }    

    .num-6-e {
        top: 3963px;
        left: 819px;
    }    

    .num-7-a {
        top: 5190px;
        left: 19px;
    }    

    .num-8-a {
        top: 5616px;
        left: -321px;
    }
    .num-8-b {
        top: 6307px;
        left: 1064px;
    }
    .num-9-a {
        top: 7985px;
        left: -459px;
    }
    .num-9-b {
        top: 8577px;
        left: -139px;
    }   

    .num-10-a {
        top: 291px;
        left: -29px;
    }

    .num-10-b {
        top: 401px;
        left: 770px;
    }    

    .num-10-c {
        top: 924px;
        left: 620px;
    }    

    .num-11-a {
        top: 2875px;
        left: -298px;
    }
    .num-11-b {
        top: 2982px;
        left: -328px;
    }
    .num-12-a {
        top: 4222px;
        left: 965px;
    }   

    .num-13-a {
        top: 6624px;
        left: 265px;
    }

    /* :: SEGMENTS
// -------------------------*/

    .segment { 
        margin: 30px 0 30px 0;
        border-bottom: 10px solid black;
        padding: 30px 0 30px 0;
        position: relative;
    }
    
    .segment h3 { 
        text-decoration: underline;
        display: inline-block;
        background-color: @yellow;
        padding: 10px;
     }
    
    .smaller {
        width: 900px;
        margin: 0 auto;
    }

    .small-2006 {
        position: relative;
        padding: 50px 150px 85px 150px;
    }

    .small-2007 {
        position: relative;
        padding: 30px 100px 0px 100px;
        border: 0;

        hr {
            margin-left: 1px;
            height: 10px;
            width: 460px;
            background-color: #000;
            
        }
    }

    #cross-out-2 {
        padding: 50px 120px 80px 120px;
    }    

    #cross-out-3 {
        padding: 40px 50px 70px 50px;
    }

    #cross-out-4 {
        padding: 50px 160px 80px 160px;
    }

    .evidence p{
        padding:  0 250px 0 250px;
    }

    .decides {
        padding: 30px 250px 70px 250px;
        p { 
            padding: 28px 28px 28px 28px;
            background-color: @yellow; 
        }
    }

        /* :: BOTTOM SECTIONS
// -------------------------*/

    section {
        position: relative;
        background-color: @yellow;
    }

    .director {
        margin-top: 138px;
        height: 570px;
    }

    .approach {
        margin-top: 100px;
        height: 1000px;
    }
    
    .process {
        margin-top: 106px;
        height: 925px;
    }

    /* :: CROSSING OUTS
// -------------------------*/
    .stand-out {
        white-space: pre; 
        background-color: white;
    }

    .cross-out {
        position: relative;
    }
    
    .crossing-line {
        height: 8px;
        position: absolute;
        background-color: black;
        z-index: -1;
    }

    .one-1 {
        width: 636px;
        top: 23px;
        left: 235px;
        transition: all 0s;
    }
    .one-2 {
        width: 664px;
        top: 44px;
        left: 56px;
        transition: all 0s;

    }
    .one-3 {
        width: 664px;
        top: 77px;
        left: 51px;
        transition: all 0s;
    }
    .one-4 {
        width: 648px;
        top: 109px;
        left: 76px;
        transition: all 0s;
    }
    .one-5 {
        width: 468px;
        top: 141px;
        left: 98px;
        transition: all 0s;
    }
    .one-6 {
        width: 517px;
        top: 190px;
        left: 60px;
        transition: all 0s;
    }

    // CROSS-2

    .seven {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }    
    .eight {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }    
    .nine {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }    
    .ten {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }

    // CROSS-3

    .three-1 {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }    
    .three-2 {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }    
    .three-3 {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }    
    .three-4 {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }
    .three-5 {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }

    // CROSS 4
    .four-1 {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }    
    .four-2 {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }    
    .four-3 {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }    
    .four-4 {
        width: 517px;
        top: 0px;
        left: 60px;
        transition: all 1s;
    }


    .hide {
        width: 0;
    }


    /* :: Navigation
// -------------------------*/

    nav {
        border-bottom: 10px solid black;
        border-top: 10px solid black;
        margin: 0 auto;
        margin-top: 205px;
        width: 1000px;
        height: 285px;
    }

    nav a {
        text-decoration: none;
        display: block;
        width: 320px;
        height: 140px;
        margin: 0 auto;
        margin-top: 67px;
        padding-top: 40px;
        background-color: @yellow;
    }

    /* :: Footer
// -------------------------*/
    
    footer {
        width: 1192px;
        margin: 0 auto;
    }

    footer header {
        margin: 108px 0 70px 0;
        background: url("../images/filmmakers-bar.png") no-repeat 50%;
    }

    footer section {
        width: 580px;
        float: right;
        background-color: inherit;
    }

    .director-bio {
        float: left;
    }

    /* :: VIDEOS
// -------------------------*/

    .video {
        width: 900px;
        margin-top: 50px;
        margin: 0 auto;
    }

        /* :: IMAGES
// -------------------------*/

    .img-2006 {
        position: absolute;
        width: 330px;
        top: 89px;
        left: 871px;
        z-index: -1;
    }

    .img-2007 {
        width: 1100px;
        max-width: 1500px;
        margin: -20px 0 0 -204px;
    }

    .img-2007-2 {
        position: absolute;
        width: 270px;
        top: 45px;
        left: 951px;
        z-index: -1;
    }

    .img-2007-3 {
        width: 1016px;
        max-width: 1500px;
        margin: 9px 0 -20px -44px;
    }

    .img-director {
        position: absolute;
        width: 2007px;
        max-width: 4000px;
        top: -521px;
        left: -513px;
        z-index: -1;
    }

    .img-process {
        position: absolute;
        width: 396px;
        left: -499px;
        top: 380px;
        z-index: -1;
    }    

    .img-process-2 {
        position: absolute;
        width: 256px;
        left: -96px;
        top: 969px;
        z-index: -1;
    }


        /* :: STORY-OUTLINE.HTML SPECIFIC
// -------------------------*/

    article.outline header  {
        position: relative;
        height: 250px;
        margin-bottom: 60px;
    }

    .outline .header-img {
        position: absolute;
        top: 100px;
        left: 117px;
    }    

    .header-text {
        position: absolute;
        top: 110px;
        left: 161px;
    }

    .outline .segment {
        padding: 0 50px 100px 50px;
    }
    
    .outline .russia {
        padding-bottom: 120px;
    }
    .outline .talia {
        padding-top: 70px;
        padding-bottom: 130px;
    }

    .outline .courtship {
        padding-top: 70px;
        padding-bottom: 120px;
    }

    .outline .marriage {
        padding-top: 50px;

        hr {
            top: -50px;
            left: -241px;
            position: absolute;
            height: 10px;
            width: 460px;
            background-color: #000;
            
        }
    }
    .outline .post-marriage {
        padding-top: 70px;
    }

    .outline .internet {
        padding-top: 50px
    }

    .outline .chronicles {
        border: 0;
        padding-top: 50px;
    }

    
    .outline h2 {
        display: inline-block;
        background-color: @yellow;
        padding: 10px;
        margin-bottom: 20px;
    }

    /* :: IMAGES
// -------------------------*/

    .img-russia {
        width: 1014px;
        max-width: 1014px;
        margin-left: 10px;
        margin-bottom: -100px;
    }

    .img-separations {
        position: absolute;
        width: 356px;
        left: -295px;
        top: -53px;
    }
    .img-post-marriage {
        position: absolute;
        width: 356px;
        left: 965px;
        top: 542px;
        z-index: -1;
    }

    .img-chronicles {
        width: 532px;
        margin-left: 360px;
        margin-top: 100px;
    }

